{% extends 'base.html.twig' %}

{% block title %} Modification du Mon de passe{% endblock %}

{% block body %}
    <div class="container">
        <h1>modification de mot de passe</h1>
        {{ form_start(form) }}

        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Modifier votre Mdp</button>

        {{ form_end(form) }}

    </div>

{% endblock %}