div.container{
    margin-top: 20px;
}


div.personalized1{
    padding: 2em;
    background-size: cover;
    background-position: center center ;
}


div.personalized1 h1 , div.personalized1 p {
    color: white;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}
div.carousel-caption{
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);


}
.avatar1 {
    max-width:  128px;
    max-height: 128px;
    border-radius: 50%;
}
.avatar1-medium {
    max-width: 64px;
    max-height: 64px;
}
.avatar-mini {
    max-height: 24px;
    max-width: 24px;
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
    color : firebrick !important;
}

span.rating i {
    color: goldenrod;
}