{% extends 'base.html.twig' %}
{% block title %}
    Bienvenu sur le meilleur resau d'appartement
{% endblock %}

  {% block body %}
      <div class="container">
            <div class="jumbotron mt-3">
                    <h1 class="display-3">Bienvenue sur SymBNB</h1>
                    <p class="lead">Nous Mettons en relation les voyageurs et les propriétaires qui veulent profiter d'opportunité et gagner de l'argent
                    en proposant leur bien à la location!</p>
                    <hr class="my-4">
                    <p>Vous étes voyageur ? Et vous voulez voir ou vous pourrez loger pour votre prochain deplacement?</p>
                    <p class="lead">
                            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                    </p>
            </div>
          <h2 class="h1 mt-3 mb-4">Nos appartement stars</h2>
          <div class="row ">
              <div class="col-md-4">
                  <div class="card bg-light mb-3">
                      <div class="card-header text-center">
                          3 chambers ,<strong>49&euro;/nuit</strong> <br>
                          <small>Pas encore noté</small>
                      </div>
                      <img src="http://placehold.it/1000x400" alt="fuck u" style="height: 200px;width: 100%;display: block">
                      <div class="card-body">
                          <h4 class="cart-title">
                              Appartement de ouf !!
                          </h4>
                          <p class="card-text">
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque corporis culpa labore non nulla perferendis perspiciatis rerum sequi sit.
                          </p>
                          <a href="btn btn-secondary">En savoir plus</a>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="card bg-light mb-3">
                      <div class="card-header text-center">
                          3 chambers ,<strong>49&euro;/nuit</strong> <br>
                          <small>Pas encore noté</small>
                      </div>
                      <img src="http://placehold.it/1000x400" alt="fuck u" style="height: 200px;width: 100%;display: block">
                      <div class="card-body">
                          <h4 class="cart-title">
                              Appartement de ouf !!
                          </h4>
                          <p class="card-text">
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque corporis culpa labore non nulla perferendis perspiciatis rerum sequi sit.
                          </p>
                          <a href="btn btn-secondary">En savoir plus</a>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="card bg-light mb-3">
                      <div class="card-header text-center">
                          3 chambers ,<strong>49&euro;/nuit</strong> <br>
                          <small>Pas encore noté</small>
                      </div>
                      <img src="http://placehold.it/1000x400" alt="fuck u" style="height: 200px;width: 100%;display: block">
                      <div class="card-body">
                          <h4 class="cart-title">
                              Appartement de ouf !!
                          </h4>
                          <p class="card-text">
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque corporis culpa labore non nulla perferendis perspiciatis rerum sequi sit.
                          </p>
                          <a href="btn btn-secondary">En savoir plus</a>
                      </div>
                  </div>
              </div>
          </div>
          <h2 class="h1 mt-3 mb-4">Nos propriétaires  stars !</h2>
          <div class="row">
              <div class="col">
                  <div class="card border-secondary mb-3">
                      <div class="card-body">
                          <h4 class="card-title">Kais skander</h4>
                          <hr>
                          <div class="card-text">
                              <img src="http://placehold.it/64x64" alt="avatar kais" class="float-left mr-3">
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores at, corporis error esse ipsam minus?</p>
                              <a href="#" class="btn btn-success float-right">En savoir plus</a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col">
                  <div class="card border-secondary mb-3">
                      <div class="card-body">
                          <h4 class="card-title">Kais skander</h4>
                          <hr>
                          <div class="card-text">
                              <img src="http://placehold.it/64x64" alt="avatar kais" class="float-left mr-3">
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores at, corporis error esse ipsam minus?</p>
                              <a href="#" class="btn btn-success float-right">En savoir plus</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
   {% endblock %}